<div class="page page-center">
    <div class="container-tight py-4">
        <div class="empty">
            <div class="empty-header">@ErrorStatusCode</div>
            <p class="empty-title">Oops… @ErorrTitle</p>
            <p class="empty-subtitle text-secondary">
                @ErrorDescription
            </p>
            <div class="empty-action">
                <a href="trang-chu" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l14 0"></path>
                        <path d="M5 12l6 6"></path>
                        <path d="M5 12l6 -6"></path>
                    </svg>
                    Vể trang chủ
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ErrorStatusCode { get; set; } = "404";
    [Parameter]
    public string ErorrTitle { get; set; } = "Địa chỉ không tồn tại!";
    [Parameter]
    public string ErrorDescription { get; set; } = "Chúng tôi xin lỗi nhưng trang bạn đang tìm kiếm không được tìm thấy.";

}